*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(https://wallpapers.com/images/featured/aesthetic-cloud-background-05bsl7m2e5bh01ki.jpg);
    background-color:  lightblue;
    background-size: cover;   
}
.container{
    margin: 35px auto 0px auto;
    background: linear-gradient(135deg,purple,violet);    
    width: 600px;
    padding: 30px;
    border-radius: 30px;
}
.search{
    display: flex;
    align-items: center;
}
input[type="text"]{
    flex: 1;
    padding: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
.search-button{
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(80, 130, 165);
    padding: 8px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
.search-button:hover{
    background-color: rgb(167, 167, 69);
    color: rgb(255, 255, 255);
}
.city-date{
    color: white;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.city-date .date{
    
    border-radius: 50px;
    padding: 10px 15px;
    color: white;
}
.weather{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}
.weather .temperature{
    font-size: 100px;
    margin-left:50px ;
    font-weight: 500;
}
.weather .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.weather .icon span{
    opacity: 0.8;
    font-size: 25px;
}
.extra{
    margin-top: 30px;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;  
}
.wind,.humidity,.pressure{
    color: white;
    background-color: grey;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: rgba(0, 0, 0, 0.31) 0px 4px 7px;
}
.extra .material-icons {
    font-size: 50px;
    opacity: 0.8;
}
.wind div,
.humidity div,
.visibility div {
    text-align: center;
}